<div>
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">About Us</li>
    </ol>
</nav>
<img src="./../../assets/hiavent4.jpg" width="100%" alt="">
<div style="padding: 50px;">
<h1>What we do?</h1>
<li style="font-size: 30px">Designing and executing campaign including online forums like Facebook,Twitter etc</li>
<li style="font-size: 30px">Manage the given subject's visibility across various platforms.</li>
<li style="font-size: 30px">Keeping a check for Corporate Social Responsibilities of the subject.</li>
<li style="font-size: 30px">Managing and executing various events which will affect the position of the interested subject.</li>
<li style="font-size: 30px">Target research based content marketing.</li>
<li style="font-size: 30px">Designing and launching of products.</li>
<li style="font-size: 30px">Manage the market through various influencers across various forums.</li>
<li style="font-size: 30px">Managing award programmes.</li>
<li style="font-size: 30px">Target based message development.</li>
<li style="font-size: 30px">Strategizing for critical websites and applications, architecture and content consulatations.</li>
<li style="font-size: 30px">Survey analysis management (online and offline data).</li>
</div>
</div>