<div>
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Our Tools</li>
    </ol>
</nav>
<h1 style="text-align: center;">Our Tools</h1>
  <a href="#" class="fa fa-mobile"></a>Mobile Application<br>
  <a href="#" class="fa fa-whatsapp"></a>Bulk Whatsapp Messaging Services<br>
  <a href="#" class="fa fa-envelope"></a>Bulk E-mail Services<br>
<img src="./../../assets/hiavent5.png" width="100%" alt="">
</div>